*.dat
*.dat_old
*.db
*.jar*
*.lock
*.lck
*.mca
*.old
*.png
*.gz
*.sqlite
.console_history
.env*
.envrc
.python-version
.secret
debug/
logs/
plugins/*/*.log
plugins/*/lang/*
plugins/*/translations/*
plugins/BuycraftX/*.json
plugins/BuycraftX/cache
plugins/BuycraftX/gui.cache
plugins/Chunky/tasks/*
plugins/ChunkyBorder/borders.json
plugins/DiscordSRV/discord-console-logs/
plugins/DiscordSRV/linkedaccounts.json
plugins/GFly/data/
plugins/GSit/data/
plugins/LuckPerms/contexts.json
plugins/OpenInv/config_old.yml
plugins/SpectatorMode/data.yml
plugins/FastAsyncWorldEdit/.archive-unpack
plugins/FastAsyncWorldEdit/schematics/
plugins/FastAsyncWorldEdit/sessions/
plugins/FastAsyncWorldGuard/worlds/
plugins/dynmap/*.pending
plugins/dynmap/colorschemes/
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/markers.yml
plugins/dynmap/templates/
plugins/dynmap/web/
plugins/dynmap/webauth.txt
plugins/dynmap/worlds.txt
plugins/luckperms/contexts.json
plugins/serverutils/.pluginCommandsCache.json
plugins/spark/tmp/
plugins/tcpshield/ip-whitelist/tcpshield-ips.list
plugins/WorldGuard/worlds/*/regions.yml
whitelist.json
world/advancements/
world/datapacks/bukkit/pack.mcmeta
world/generated/minecraft/structures
world/stats/
world/*/*/*.mca.*.backup
/server-config/
libraries/
banned-ips.json
banned-players.json
ops.json
usercache.json
version_history.json
__pycache__/
paper.yml-README.txt

!server-icon.png
!.subworktrees.json
.COMMIT_MSG
.HARD_FAILED
.NO_UNPATCH
.NO_PULL
