*.dat
*.dat_old
*.db
*.jar*
*.lock
*.lck
*.mca
*.old
*.png
*.gz
*.sqlite
.console_history
.env*
.envrc
.python-version
.secret
logs/
world/advancements/
world/stats/
whitelist.json
plugins/*/*.log
plugins/*/lang/*
plugins/*/translations/*
plugins/BuycraftX/cache
plugins/BuycraftX/*.json
plugins/BuycraftX/gui.cache
plugins/DiscordSRV/discord-console-logs/
plugins/DiscordSRV/linkedaccounts.json
plugins/LuckPerms/contexts.json
plugins/luckperms/contexts.json
plugins/WorldEdit/.archive-unpack
plugins/WorldEdit/schematics/
plugins/WorldEdit/sessions/
plugins/WorldGuard/worlds/
plugins/dynmap/*.pending
plugins/dynmap/colorschemes/
plugins/dynmap/hiddenplayers.txt
plugins/dynmap/ids-by-ip.txt
plugins/dynmap/markers.yml
plugins/dynmap/templates/
plugins/dynmap/web/
plugins/dynmap/webauth.txt
plugins/dynmap/worlds.txt
plugins/GFly/data/
plugins/GSit/data/
plugins/tcpshield/ip-whitelist/tcpshield-ips.list
world/datapacks/bukkit/pack.mcmeta
world/generated/minecraft/structures
anvil/data/xodus/
/server-config/
banned-ips.json
banned-players.json
ops.json
usercache.json
version_history.json
__pycache__/

!server-icon.png
!.subworktrees.json
