*.dat
*.dat_old
*.db
*.jar*
*.json
*.lock
*.mca
*.old
*.png
*.sqlite
config/*/plugins/BuycraftX/cache
config/*/plugins/BuycraftX/gui.cache
config/*/plugins/WorldEdit/.archive-unpack
config/*/plugins/dynmap/hiddenplayers.txt
config/*/plugins/dynmap/ids-by-ip.txt
config/*/plugins/dynmap/markers.yml
config/*/plugins/dynmap/webauth.txt
config/*/plugins/WorldEdit/schematics
.console_history
.env*
.envrc
logs/
!config/*/server-icon.png
