arrow==0.17.0
b2sdk==1.13.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
gitdb==4.0.9
GitPython==3.1.24
idna==3.3
Jinja2==3.0.3
logfury==1.0.1
MarkupSafe==2.0.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.26.0
sh==1.14.2
six==1.16.0
smmap==5.0.0
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.7
