# vim: ft=caddyfile sw=2

{
  # acme_ca "https://acme-staging-v02.api.letsencrypt.org/directory"
  order realip last
}

http://{$DOMAIN} {
  handle_path /node_metrics {
    rewrite * /metrics
    reverse_proxy http://docker_host:9100
  }
  @servermetrics path_regexp serverre ^/server_metrics/([^.:/]+)$
  handle @servermetrics {
    rewrite * /metrics
    reverse_proxy {re.serverre.1}:9225
  }
  handle {
    redir https://{$DOMAIN}{uri} permanent
  }
}

http://*.{$DOMAIN} {
  redir https://{hostport}{uri} permanent
}

# Snippet https://caddyserver.com/docs/caddyfile/concepts#snippets
(mapredir) {
  reverse_proxy survival:25566 {
    header_up Host {http.reverse_proxy.upstream.hostport}
  }
}

map.{$DOMAIN},
www.{$DOMAIN},
{$DOMAIN} {
  encode zstd gzip
  realip {
    header "X-Forwarded-For"
    from cloudflare
    maxhops 5
    strict True
  }

  @discordredir path /apply /discord
  handle @discordredir {
    redir https://{$DISCORD_INVITE_LINK} permanent
  }

  # Redirect www to regular site
  @www host www.{$DOMAIN}
  handle @www {
    redir https://{$DOMAIN}{uri} permanent
  }

  @map host map.{$DOMAIN}
  handle @map {
    import mapredir
  }

  @root host {$DOMAIN}
  handle @root {
    root * /usr/share/caddy # Default value
    handle_path /map/* {
      import mapredir
    }
    file_server
    try_files {path} {path}.html
  }

  # Fallback for unhandled hosts
  handle {
    abort
  }
}
